<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xsi:schemaLocation="
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-4.2.xsd
            http://www.springframework.org/schema/data/mongo
            http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="propertConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:config.properties</value>
            </list>
        </property>
    </bean>

    <!-- morphia mongo config -->
    <bean id="api4jDs" class="com.java.api.mongo.morphia.base.MongoDSManager">
        <property name="host" value="${mongo.host}"/>
        <property name="port" value="${mongo.port}"/>
        <property name="db" value="${mongo.db}"/>
        <property name="user" value="${mongo.user}"/>
        <property name="pwd" value="${mongo.pwd}"/>
        <!--<property name="connectTimeout" value="${mongo.connecttimeout}"/>-->
        <!--<property name="socketTimeout" value="${mongo.sockettimeout}"/>-->
        <!--<property name="maxConnectIdleTime" value="${mongo.maxconnectidletime}"/>-->
        <property name="mapPackages">
            <array>
                <value>${mongo.morphia.map.package}</value>
            </array>
        </property>
    </bean>
    <bean id="entityDemoMAO" class="com.java.api.mongo.morphia.mao.EntityDemoMAO">
        <constructor-arg name="api4jDs" ref="api4jDs" />
    </bean>

    <!-- spring data mongo config -->
    <bean id="mongoTemplate" class="com.java.api.mongo.springdata.MongoTemplateManager">
        <property name="mongoUri" value="${mongo.uri}" />
        <!--<property name="socketTimeout" value="" />-->
        <!--<property name="connectTimeout" value="" />-->
        <!--<property name="maxConnectIdleTime" value="" />-->
    </bean>
    <mongo:repositories base-package="com.java.api.mongo.springdata" />

</beans>